/*Color*/
.color-green {
    color:rgb(71, 88, 65);
}
.gray-background {
    background-color:#eeeeee;
    display: block;
    padding-bottom: 10vh;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Hide vertical scrollbar */
    transition: left 0.5s;
}

/*Loading*/
.loading-div {

    position: fixed;
    top: 0;
    width:100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(20, 27, 65);

    animation-name: loading-div;
    animation-duration: 3s;

    opacity: 0;
    z-index: -1000;
}


@keyframes loading-div {
    
    0%{opacity: 1; display: static; z-index: 1000;}
    80%{opacity: 1;}
    100%{opacity: 0;display: static; z-index: 1000;}
}



.loading-logo {

    max-width: 15%;
    animation-name: loading-logo;
    animation-duration: 3s;

}



@keyframes loading-logo {


    0% {transform: scale(0);}
    20% {transform: scale(0);}
    25% {transform: scale(1);}
    30% {transform: scale(0.9);}
    35% {transform: scale(1);}
}


.loading-text {

    position: absolute;
    top: 40vh;

    color: gray;
    font-family: 'Domine', serif;
    font-size: 5.5vh;
    font-weight: 700;

    animation-name:loading-text ;
    animation-duration: 3s;
    text-align: center;
}


@keyframes loading-text {

    0% {transform: scale(0);}
    20% {transform: scale(0);}
    40% {transform: scale(0);}
    45% {transform: scale(1);}
    50% {transform: scale(0.9);}
    55% {transform: scale(1);}
    

}

.loading-text2 {
    
    position: absolute;
    top:55vh;

    color: gray;
    font-size: 3vh;
    font-weight: 700;

    animation-name:loading-text2 ;
    animation-duration: 3s;

}

@keyframes loading-text2 {

    0% {transform: scale(0);}
    20% {transform: scale(0);}
    40% {transform: scale(0);}
    55% {transform: scale(1);}
    60% {transform: scale(0.9);}
    65% {transform: scale(1);}
    

}

.page-content {

    position: relative;
    /*background-color: red;*/
    padding: 0;
    margin: 0;

    transition: 0.5s;
}

/*Header*/
header {

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100vw;

    height: 14vh;
    background-color: rgb(20, 27, 65);

    border-bottom: 1px solid black;

    animation-name: header;
    animation-duration: 4s;

    z-index: 100;
    transition: left 0.5s;
}

@keyframes header {

    0%{top: -14vh;}
    75%{top: -14vh;}
    100%{top:0;}
    
}

.menu-btn {

    display:none ;

}

.menu-btn-after-4s {

    display:none ;

}

.header-logo-container {

    flex: 0;

}

.header-logo {

    height: 10vh;
    margin-left: 2vw;

}

.header-links-container {

    flex: 1;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: end;

}



.header-link {

    font-size: 20px;
    margin-right: 43px;

    text-decoration: none;
    color: white;
    font-weight: 400;

    transition: 0.2s;
}

.header-link:hover {

    color: rgb(71, 88, 65);

}

.header-link-diving-course {

    font-size: 20px;

    text-decoration: none;
    color: white;
    font-weight: 400;

    transition: 0.2s;
    display: inline-block;

    display: flex;
    align-items: center;
    justify-content: end;

}

.header-link-diving-course:hover {

    color: rgb(71, 88, 65);


}


.dropdown-link-container {

    display: inline-block;

    color: white;
    text-align: center;

    font-size: 20px;
    margin-right: 43px;

    transition: 0.2s;
}

.dropdown-link-container:hover {

    color: rgb(71, 88, 65);

}

.dropdown-content {

    background-color: white;
    position: absolute;
    display: none;

    text-align: left;

    border-radius: 1%;

    box-shadow: 0px 1px 5px 2px black;
}

.dropdown-content a{

    display: block;
    padding: 10px;

    text-decoration: none;
    color: black;
    
    transition: 0.2s;

    font-weight: 300;
}

.dropdown-content a:hover {

    color: rgb(71, 88, 65);

}


.dropdown-link-container:hover .dropdown-content {

    display: block;

}

/*Sidebar*/
.sidebar-header {

    position: fixed;
    left: -70;
    top: 0;

    height: 14vh;
    width: 70vw;

    border-bottom: 1px solid rgb(71, 88, 65);

    /*margin-left: -70vw;*/
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo-sidebar-header-container {

    width: fit-content;
    display: inline;
}

.logo-sidebar-header {


    height: 10vh;

}



.sidebar {

    z-index: 9999999;
    position: fixed;
    top: 14vh;
    left: 0;

    width: 70vw;
    height: 86vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    padding-top: 30px;

    /*margin-left: -70vw;*/
    left: -70vw;
    transition: 0.5s;

    background-color: #fff;
}

.sidebar-main{
    /*border-right: 1px inset gray;*/
}

.sidebar-div {

    flex: 1;

    display: flex;
    align-items:center;
    justify-content: left;

    width: 68vw;
    margin-left: 2vw;
    
    text-decoration: none;


    /*border-bottom: 1px solid rgb(71, 88, 65);*/


}

#sidebar-div-diving-course {

    display: flex;

}



.sidebar-link {

    flex: 4;

    font-size: 2vh;
    font-weight: 300;
    color: black;

    transition: 0.2s;
}


#sidebar-link-diving-course {

    flex: 4;
    text-decoration: none;

}

.sidebar-link-diving-course-icon-div {

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

}

.sidebar-link-scuba-diving-icon-div {

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

}




.sidebar-link-diving-course-icon-div:hover .sidebar-link-diving-course-icon::before {

    color: white;

}

.sidebar-link-diving-course-icon-div:hover  {

    background-color: rgb(71, 88, 65);

}

.sidebar-link-scuba-diving-icon-div:hover {

    background-color: rgb(71, 88, 65);


}

.sidebar-div:hover .sidebar-link {

    color: rgb(71, 88, 65);

}


.sidebar-filler {

    flex: 10;
    
}

#diving-course-sidebar-filler {

    flex: 10;

}

#scuba-diving-sidebar-filler {

    flex: 14;

}

.sidebar-diving-course-x-icon-div {

    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar-scuba-diving-x-icon-div {

    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar-diving-course-x-icon-div:hover .sidebar-diving-course-x-icon::before {

    color: rgb(71, 88, 65);

}

/*Carousel*/

.carousel{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.active {
    opacity: 1;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 6s ease-in;
}

.active img {
    transform: scale(1.4);
}

.carousel-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    opacity: 0;

    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 7vmin;
    text-align: center;
    color: #fff;
}

.active .carousel-title {
    animation-fill-mode: both;
    animation-name: slideUpTitle;
}

@keyframes slideUpTitle {
    0% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 1;
        top: 25%;
    }
    
}

.carousel-text {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    animation-duration: 0.5s;
    animation-delay: 1s;
    opacity: 0;

    font-family: 'Gruppo', cursive;
    font-size: 7vmin;
    font-weight: 500;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    color: #fff;
}

.active .carousel-text {
    animation-fill-mode: both;
    animation-name: slideUpText;
}

@keyframes slideUpText {
    0% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 1;
        top: 40%;
    }
}

.carousel-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    opacity: 0;


    text-align: center;
    color: rgb(20, 27, 65);
    padding: 2vh;
    background-color: white;
    border-radius: 3px;

}

.active .carousel-btn {
    animation-fill-mode: both;
    animation-name: slideUpBtn;
}

@keyframes slideUpBtn {
    0% {
        opacity: 0;
        top: 90%;
    }
    100% {
        opacity: 1;
        top: 75%;
    }
}


/*Gallery*/
.gallery {

    position: relative;

    height: 60vh;
    width: 100%;
    margin-top: 14vh;
    
    animation-name: gallery;
    animation-duration: 4s;

}

@keyframes gallery {

    0%{margin-top:0 ;}
    75%{margin-top:0 ;}
    100%{margin-top:14vh ;}
    
}


.img-from-gallery {

    width: 100%;
    height: 100%;
    object-fit:cover;

}

.img-from-gallery-duo {

    width: 50%;
    height: 100%;
    object-fit:cover;

}

.duoSlideIsRight {

    position: absolute;
    right: 0;
    top: 0;
}

.duoSlideIsLeft {

    position: absolute;
    left: 0;
    top: 0;

}

.gallery-controls-container {

    width: 100vw;
    height:100%;

    display: block;

    position: absolute;
    top:0;

}

.gallery-control {

    position: absolute;
    top: 0;

    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.control-prev {

    left: 0;

}

.control-next {

    right: 0;

}

.gallery-text-container {


    width: 100vw;
    height:100%;
    
    position: absolute;
    top:0;

    display: block;


}

.gallery-text-upper {

    position: relative;

    text-align: center;
    margin-top: 10vh;
    
    color: white;
    font-family: 'Gruppo', cursive;
    font-size: 3vmin;
    font-weight: 300;




}


.gallery-text-lower {

    position: relative;

    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 7vmin;
    text-align: center;
    margin-top: 2vh;
}


.gallery-btn-container {

    position: absolute;

    top: 65%;
    left:40%;
    
    
    display: flex;
    
    width: 20%;
    height: 10%;


}

.gallery-btn-container:hover .gallery-btn-txt {

    background-color: rgb(71, 88, 65);

}

.gallery-btn-container:hover .gallery-btn-icon {

    background-color: rgb(20, 27, 65);

}


.gallery-btn-txt {

    text-decoration: none;
    flex: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    

    background-color: rgb(20, 27, 65);
    
    color: white;
    font-size: 2vh;

    transition: 0.2s;
}

.gallery-btn-icon {

    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(71, 88, 65);

    color: white;
    font-size: 2vh;

    transition: 0.2s;
}

/*Section Title*/
.text-container {

    position: relative;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;

    background-color: white;

}

.text-title {

    font-family: 'Anton', sans-serif;
    font-size: 3vh;

    width: 80vw;
    padding-left: 10vw;

    padding-bottom: 2vh;

}

.text-title-green {

    color: rgb(71, 88, 65);
    display: inline-block;

}

.text-content {

    width: 80vw;
    padding-left: 10vw;
    
    font-size: 2vh;
    text-align: left;


}

.text-accent {
    color: rgb(71, 88, 65);
    font-weight: 700;
    display: inline-block;
}

/*Ecology*/
.img-right-container-div {
    background-color: white;
    padding-top: 10vh;
    
    padding-bottom: 10vh;
    display: flex;
}
.eco-container{

    /*background-color: red;*/
    width: 40vw;
    margin-left: 5vw;

    margin-top: 5vh;

    font-size: 2vh;
    text-align: left;
}

.eco-title{

    text-align: center;

}

.img-right-container {

    /*background-color: purple;*/

    position: relative;
    left: 10vw;

    width: 40vw;

    outline: 4px solid rgb(71, 88, 65);
    display: inline-block;
    
}

.gallery-eco {
    max-width: 40vw;
    margin-top: 0;

    position: relative;

    right: 20px;
    bottom: 20px;

}

.controls-eco {

    width: 100%;

}

.img-right {

    position: relative;

    right: 20px;
    bottom: 20px;

    width:  100%;
    height: 100%;
    object-fit: cover;
    
}

/*Features & Cards*/
.text-container-features {

    position: relative;
    text-align: center;
    padding-top: 4vh;

    background-color: #eeeeee;

}


.features-container {

    /*background-color: purple;*/
    
    position: relative;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    margin-left: 2vw;
    margin-right: 2vw;


}

.card-container {

    flex: 1;

    display: flex;
    flex-direction: column;

    height: 60vh;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    
    box-shadow: 0px 1px 5px 1px black;


    transition:0.3s;

}

.card-container:hover {

    transform: scale(1.05);
    box-shadow: 0px 1px 10px 2px black;

}

.card-upper {

    /*flex: 1;*/
    height: fit-content;

    position: relative;

}

.card-img-div {

    height: 25vh;

}

.card-img {

    width:  100%;
    height: 100%;
    object-fit: cover;

}

.card-price-div {


    position: absolute;
    bottom: 0;
    left: 5%;

    width: 40%;
    height:15%;

    background-color: rgb(71, 88, 65);
    color: white;
    border-radius: 4px 4px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    

}


.card-lower {

    flex: 1;
    position: relative;


    background-color: white;    
    text-align: left;

    display: flex;
    flex-direction: column;

    
}

.card-text-container {
    height: 100%;
}

.card-title {
    
    margin-top: 1vh;
    
    font-size: 22px;
    font-weight: 600;
    
    margin-left: 10px;
    
}

.card-text {

    margin-left: 10px;
    
    color: #666666;
    font-weight: 400;

    overflow: hidden;

    max-height: 40%;

}

.card-btn-container {

    
    width: 100%;

    position: absolute;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    min-height: 60px;

}


.card-btn {

    width: 30%;
    height: 40px;

    text-decoration: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(71, 88, 65);
    color: rgb(71, 88, 65);

    transition: 0.2s;

}

.card-btn:hover {

    background-color: rgb(71, 88, 65);
    color: white;

}

.card-btn-text {

    font-size: 13px;

}

.card-icon-div {

    display: inline-block;

    color: #666666;

}

/*Footer*/
footer {

    background-color: rgb(71, 88, 65);

    height: fit-content;
    width: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {

    padding-top: 2vh;

    font-family: 'Anton', sans-serif;
    color:white;
    font-weight: 500;
    font-size: 2.5vh;

}

.footer-content {
    margin-top: 1vh;
    width: 200px;
    height: 100%;

    /*
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
*/
}

.footer-line {
    margin: 0;
}

.footer-icon-div {

    /*margin-top: 1vh;*/


    /*
    display: inline-flex;
    align-items: center;
    justify-content: center;


    background-color: rgb(51, 68, 45); 
    border-radius: 20%;

    width: 30px;
    height: 30px;*/


}

.footer-icon-text {

    display: inline-block;
    color: white;

    margin-top: 0.2vh;
    margin-bottom: 1vh;

    transition: 0.2s;
}

.footer-icon-text:hover {

    color: rgb(20, 27, 65);

}

/*Video*/
.video-div {

    height:fit-content;
    width: 100vw;

    padding-top: 5vh;
    padding-bottom: 5vh;

    

    display: flex;
    align-items: center;
    justify-content: center;

}

.video-container {

    outline: 4px solid rgb(71, 88, 65);

    position: relative;
    top: 20px;
    left: 20px;
}

.video {

    position: relative;
    bottom: 20px;
    right: 20px;


    /*siri video na max*/
    width: 40vw;
}

.whatsapp-link{
    position: fixed;
    bottom: 5vh;
    right: 5vw;
}

.whatsapp-icon{
    width: 5vw;
    border-radius: 100%;
}

@media only screen and (max-width: 992px) {


    /*JAVASCRIPT NEEDED CLASSES*/


    /*------------------------------------------------------------------------------------*/
    
    /*
        /* main-page div class
        .pageIsRight {
        
            /*margin-left: 70vw;
            left: 70vw;
            transition: left 0.5s;
        }

        /*sidebar div class
        .sidebarIsRight {

            /*margin-left: 0;
            left: 0;
            transition: left 0.5s;
        }
        */

        /* header logo container div class*/
        .logoMarginLeft {
    
            margin-left:2vw ;
        }
    
    /*------------------------------------------------------------------------------------*/

    .gray-background {

        min-height: 230vh;

    }


    .menu-btn {

        display: inline;

        position: fixed;
        top: 5vh;
        left: 4vw;

        animation-name: menu-btn;
        animation-duration: 4s;
    
    }

    @keyframes menu-btn {

        0%{top: -5vh;}
        75%{top: -5vh;}
        100%{top: 5vh;}

    }
    
    .menu-btn-after-4s {


        display: inline;

        position: fixed;
        top: 5vh;
        left: 4vw;

    }
    
    .header-logo {
        
        margin: 0;
        
    }
    
    
    .header-links-container {
    
        display: none;
    
    }

        
    .gallery-btn-container {


        left:32.5vw;
                
        width: 35vw;


    }

    

    .features-container {
        
        position: absolute;


        
    }

    .card-container {

        position: relative;

        height: 65vh;
        
        flex: 0;
        min-height: 65vh;
        min-width: 70vw;

    
    }

    .card-text-container {

        max-height: 230px;
    }

    .card-img-div {

        height: 30vh;
    
    }

    .card-btn {

        width: unset;

        padding-left: 1vw;
        padding-right: 1vw;

    }

    .img-right-container-div{
    
        flex-direction: column;
        padding-top: 0;
    }

    .eco-container {

        width: 90vw;

    }

    .img-right-container {

        width: 85vw;
        margin-top: 5vh;
    }

    
    .gallery-eco {
        max-width: 85vw;
        margin-top: 0;

    }

    .loading-logo {

        max-width: 50%;
    }

    .gray-isus {
        min-height: 190vh;
    }

}

@media only screen and (min-width: 1200px) {

    .features-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

.off{
    display: none;
}
